{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VTEssentials | {% block page_name %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

   <div class="header">
       <div class="container">
          <div class="navbar">
              {% load static %}
              <div class="logo">
                  {% load static %}
                  <a href="{% url 'VTessential:home_page' %}"><img src="{% static "img/logo.png" %}" alt="logo" width="125px"></a>
              </div>

              <nav>

                  <ul id="MenuItems">
                      <li><a href="">Users</a></li>
                      <li><a href="">Items</a></li>
                  </ul>
              </nav>
        {% if request.session.username %}
            <li style="list-style: none">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="" style="color: red; font-weight: 400;">Admin </a></li>
            <li style="list-style: none">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'VTessential:logout' %}" style="color: black; font-weight: 400;">Logout </a></li>
        {%else%}
                   <form id="log" action="{% url 'VTessential:login' %}" method="post" style="width: 10rem; margin-left: 2rem;margin-right: 2rem;height: 10rem">
                   {% csrf_token %}
                   <input style="height: 1.5rem" type="text" placeholder="Username" name="username">
                   <input style="height: 1.5rem" type="password" placeholder="Password" name="password">
                   <input style="height: 2rem" type="submit" class="btn" name="Login">
                   <a href="">Forgot password</a>
               </form>
        {% endif %}
              <i class="bi bi-person-circle" style="font-size:30px;margin-left: 40px;"></i>

              <a href="cart.html"><img src="{% static "img/cart.png" %}" width="30px" height="30px"></a>
              <img src="{% static "img/menu.png"%}" onclick="menutoggle()" class="menu-icon">
          </div>
          <div class="navbar-2">
              <form id="searchform" action="search-result.html" method="get">
                  <input type="text" placeholder="search" style="width: 20rem; margin-right: 1rem;" name="search">
                  <input type="submit" class="btn" style="width: 5rem;" value="Go" name="submit">
              </form>
          </div>
           <div class="row">
               {% block landing_page %}{% endblock %}
            </div>
           </div>
       </div>
   </div>


<div class="small-container single-product">
    <div class="row">
         {% block detail_page %}
        {% endblock %}
    </div>
</div>
{% block content %}
    {% if request.session.username == 'admin' %}
 <div class="testimonial">
    <h2>Add Product</h2>
    <div class="small-container">
    <div class="row">
        <div class="col-3">
            <form id="LoginForm" method="POST" action="{% url "VTessential:edit_review" %}">
                {% csrf_token %}
                <p>Product Id</p>
                <input type="hidden" placeholder="{{  request.session.product_id }}" name="product_id">
                <input type="text" placeholder="Product Name:-{{  request.session.product_name }}" name="product_name">
                <input type="number" placeholder="Product Price:-{{  request.session.price }}" name="price">
                <input type="number" placeholder="Product Rating:-{{  request.session.rating }}" name="rating" max="5" min="1">
                <input type="text" placeholder="ProductCategory E.g. T-shirt/Shoes/shirt" name="product_type">
                <label>Product Description</label>
                <textarea name="description" id="" cols="36" rows="10" placeholder="{{ request.session.description}}" style="font-family:'Poppins', sans-serif; margin-top: 2rem;"></textarea>
                <button type="submit" class="btn">Submit</button>
                <p>* cannot be modified</p>
            </form>
            </div>
        </div>
    </div>
</div>
    {% endif %}
{% endblock %}

<!----------offer--------------->


<!----------Footer--------------->

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col1">
               <h3>Download Our App</h3>
                <p>Download App for Android and ios mobile phone.</p>
                <div class="app-logo">
                    <img src="{% static "img/play-store.png" %}">
                    <img src="{% static "img/app-store.png"%}">
                </div>
            </div>
            <div class="footer-col2">
               <img src="{% static "img/logo-white.png" %}" >
                <p>Our Purpose Is To Sustainably Make the Pleasure and Benefits of Sports Accessible to the Many.</p>
            </div>
            <div class="footer-col3">
               <h3>Useful Links</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blog Post</li>
                    <li>Return Policy</li>
                    <li>Join Affiliate</li>
                </ul>
            </div>
            <div class="footer-col4">
               <h3>Follow Us</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter<li>
                    <li>Instagram</li>
                    <li>YouTube</li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
</div>

<div class="social-panel-container">
	<div class="social-panel">
		<p>Created with <i class="fa fa-heart"></i> by
			<a target="_blank" href="#">VTEssentials</a></p>
		<button class="close-btn"><i class="fa fa-times"></i></button>
		<h4>Get in touch on</h4>
		<ul>
			<li>
					<i class="fa fa-twitter"></i>
			</li>
			<li>
					<i class="fa fa-linkedin"></i>
			</li>
			<li>
					<i class="fa fa-facebook"></i>
			</li>
			<li>
					<i class="fa fa-instagram"></i>
			</li>
		</ul>
	</div>
</div>
<button class="floating-btn">
	Get in Touch
</button>



<!-------------js for toggle menu-------------->
   {% load static %}
<script src="{% static 'js/app.js' %}"></script>
<script>

    var MenuItems = document.getElementById("MenuItems");

    MenuItems.style.maxHeight = "0px";

    function menutoggle()
    {
        if(MenuItems.style.maxHeight == "0px")
            {
                MenuItems.style.maxHeight = "300px";
            }else
            {
                MenuItems.style.maxHeight = "0px"
            }
    }
</script>
<script>
    $(document).ready(function(){
$('div.col-2 button.cartbtn').click(function(){
    varnumber
    $(counter).html(number);
    var counter= document.getElementById('counter');

    var number=parseInt($(counter).text());
    number++;

    $(counter).html(number);
})
})

</script>
</body>
</html>

