{% extends 'VT/base.html' %}
{% block page_name %}
    Home
{% endblock %}
{% block refresh %}
<meta http-equiv="refresh" content="3">
{% endblock %}
  {% block login_form %}

  {% endblock %}

{% block item_list %}
     {% load static %}
        <h1>Clothing Essentials</h1>
        <h2 class="title">Clothing Essentials Combo</h2>
        <h4 class="more">View more ...</h4>
        <ul class="messages" style="align-items: center">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}</ul>
    <p>Filter By</p>
        <a class="btn" href="{% url "VTessential:sort"%}">Price Low to High</a>
        <a class="btn" href="{% url "VTessential:sortrev"%}">Price High to Low</a>
        <a class="btn" href="{% url "VTessential:rating"%}">Rating</a>
           <div class="row">
           {% for item in items %}
               <div class="col-4">
               {% if item.type == "T-shirt" or item.type == "Tshirt" or item.type == "t-shirt" %}
                    <a href="{% url "VTessential:item_detail" item.id %}"><img src="{% static "img/product-1.jpg" %}"></a>
                {% elif item.type == "shoes" or item.type == "Shoes" %}
                    <a href="{% url "VTessential:item_detail" item.id %}"><img src="{% static "img/product-2.jpg" %}"></a>
                {% endif %}
                   <h4><a href="{% url "VTessential:item_detail" item.id %}">{{ item.title }}</a></h4>
                   <div class="rating">
               {% if item.rating == 5 %}
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>
               {% elif item.rating == 4 %}
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star-o"></i>
               {% elif item.rating == 4.5 %}
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star-half-o"></i>
               {% elif item.rating == 0 %}
                   <span>No ratings</span>
               {% endif %}
                   </div>
                   <p>${{ item.price }}</p>
                     <button class="btn cartbtn" id="reload" data-item-id="{{ item.id }}" data-ajax-url="{% url "VTessential:cart_item" %}">Add To Cart</button>
               </div>
           {% endfor %}
           </div>

     <div class="small-container">
        <h2 class="title">Sports Essentials Combo</h2>
        <h4 class="more">View more ...</h4>
         <div class="row">
           {% for item in items %}
                <div class="col-4">
                 {% if item.type == "T-shirt" or item.type == "Tshirt" or item.type == "t-shirt" %}
                    <a href="{% url "VTessential:item_detail" item.id %}"><img src="{% static "img/product-1.jpg" %}"></a>
                {% elif item.type == "shoes" or item.type == "Shoes" %}
                    <a href="{% url "VTessential:item_detail" item.id %}"><img src="{% static "img/product-2.jpg" %}"></a>
                {% endif %}
                   <h4><a href="product-details.html">{{ item.title }}</a></h4>
                   <div class="rating">
               {% if item.rating == 5 %}
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>
               {% elif item.rating == 4 %}
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star-o"></i>
               {% elif item.rating == 4.5 %}
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star-half-o"></i>
               {% endif %}

                   </div>
                   <p>{{ item.price }}</p>
               </div>
           {% endfor %}
               <div class="col-4">
                   <img src="{% static "img/product-12.jpg"%}">
                   <h4>HRX Gray Trackpants</h4>
                   <div class="rating">
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star-half-o"></i>
                   </div>
                   <p>$45.00</p>
               </div>
               <div class="col-4">
                   <img src="{%  static  "img/product-4.jpg"%}">
                   <h4>Blue Printed T-Shirt</h4>
                   <div class="rating">
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star-o"></i>
                   </div>
                   <p>$55.00</p>
               </div>
           </div>
     </div>
{% endblock %}

