{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block refresh %}{% endblock %}
    <title>VTEssentials | {% block page_name %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
 <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

</head>
<body>

   <div class="header">
       <div class="container">
          <div class="navbar">
              {% load static %}
              <div class="logo">
                  {% load static %}
                  <a href="{% url 'VTessential:home_page' %}"><img src="{% static 'img/logo.png' %}" alt="logo" width="125px"></a>
              </div>
              <nav>
                  {% if request.session.role != "admin" %}
                  <ul id="MenuItems">
                      <li><a href="">Home Essentials</a></li>
                      <li><a href="">College Essentials</a></li>
                      <li><a href="{% url "VTessential:list_page" %}">Clothing</a></li>
                      <li><a href="">Technology</a></li>
                      <li><a href="#">About Us</a></li>
                      {% endif %}
                  </ul>
              </nav>
        {% if request.session.role == "regular" %}
            <li style="list-style: none">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="" style="color: red; font-weight: 400;">My Orders </a></li>
            <li style="list-style: none">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'VTessential:logout' %}" style="color: red; font-weight: 400;">Logout </a></li>
            <li style="list-style: none">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'user:profile' request.session.username  %}" style="color: red; font-weight: 400;">{{  request.session.username }} </a></li>

              <i class="bi bi-person-circle" style="font-size:30px;margin-left: 40px;"></i>
              <img src="{% static "img/menu.png"%}" onclick="menutoggle()" class="menu-icon">
              <a><img src="{% static "img/cart.png" %}" width="30px" height="30px"><span id="counter"></span></a>
              <img src="{% static "img/menu.png"%}" onclick="menutoggle()" class="menu-icon">
            {% elif request.session.role == "admin" %}
            <li style="list-style: none">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="" style="color: red; font-weight: 400;">Items</a></li>
            <li style="list-style: none">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'user:add_user' %}" style="color: red; font-weight: 400;">Add User</a></li>
            <li style="list-style: none">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'VTessential:logout' %}" style="color: red; font-weight: 400;">Logout </a></li>
            <li style="list-style: none">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'user:profile' request.session.username %}" style="color: red; font-weight: 400;">{{  request.session.username }} </a></li>
        {% else %}
            <form id="log" action="{% url 'VTessential:login' %}" method="POST" style="width: 10rem; margin-left: 2rem;margin-right: 2rem;height: 10rem">
                   {% csrf_token %}
                   <input style="height: 1.5rem" type="text" placeholder="Username" name="username">
                   <input style="height: 1.5rem" type="password" placeholder="Password" name="password">
                   <input style="height: 2rem" type="submit" class="btn" name="Login">
                   <a href="">Forgot password!</a><a href="{% url 'user:register' %}" style="color: #ff523b; margin-left: 7px;">Register</a>
            </form>
          {% endif %}
          </div>
               <ul class="messages" style="align-items: center">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}</ul>
          <div class="navbar-2">
              <form id="searchform" action="search-result.html" method="get">
                  <input type="text" placeholder="search" style="width: 20rem; margin-right: 1rem;" name="search">
                  <input type="submit" class="btn" style="width: 5rem;" value="Go" name="submit">
              </form>
          </div>
           <div class="row">
               {% block landing_page %}
               {% endblock %}
            </div>
           </div>
       </div>
   </div>

<div class="small-container single-product">
    <div class="row">
         {% block detail_page %}
        {% endblock %}
    </div>
</div>
{#   #}

{% block content %}

{% endblock %}

<!-------------- Our Featured Products -------------->
    <div class="small-container">
        {% block item_list %}{% endblock %}
    </div>

<!----------offer--------------->


   <div class="offer">
       {% block offer_page %}{% endblock %}
   </div>


<!----------Footer--------------->

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col1">
               <h3>Download Our App</h3>
                <p>Download App for Android and ios mobile phone.</p>
                <div class="app-logo">
                    <img src="{% static "img/play-store.png" %}">
                    <img src="{% static "img/app-store.png"%}">
                </div>
            </div>
            <div class="footer-col2">
               <img src="{% static "img/logo-white.png" %}" >
                <p>Our Purpose Is To Sustainably Make the Pleasure and Benefits of Sports Accessible to the Many.</p>
            </div>
            <div class="footer-col3">
               <h3>Useful Links</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blog Post</li>
                    <li>Return Policy</li>
                    <li>Join Affiliate</li>
                </ul>
            </div>
            <div class="footer-col4">
               <h3>Follow Us</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter<li>
                    <li>Instagram</li>
                    <li>YouTube</li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
</div>

<div class="social-panel-container">
	<div class="social-panel">
		<p>Created with <i class="fa fa-heart"></i> by
			<a target="_blank" href="#">VTEssentials</a></p>
		<button class="close-btn"><i class="fa fa-times"></i></button>
		<h4>Get in touch on</h4>
		<ul>
			<li>
					<i class="fa fa-twitter"></i>
			</li>
			<li>
					<i class="fa fa-linkedin"></i>
			</li>
			<li>
					<i class="fa fa-facebook"></i>
			</li>
			<li>
					<i class="fa fa-instagram"></i>
			</li>
		</ul>
	</div>
</div>
<button class="floating-btn">
	Get in Touch
</button>



<!-------------js for toggle menu-------------->
   {% load static %}
   {% block script %}{% endblock %}

<script src="{% static 'js/app.js' %}"></script>

<script>

    var MenuItems = document.getElementById("MenuItems");
    MenuItems.style.maxHeight = "0px";
    function menutoggle()
    {
        if(MenuItems.style.maxHeight == "0px")
            {
                MenuItems.style.maxHeight = "300px";
            }else
            {
                MenuItems.style.maxHeight = "0px"
            }
    }
</script>
</body>
</html>

