{% extends 'VT/base.html' %}
{% load static %}

      {% block page_name %}
             edit
        {% endblock %}
{% block content %}
 <div class="testimonial">
    <h2>Add Review</h2>
    <div class="small-container">
    <div class="row">
        <div class="col-3">
            <form id="LoginForm" method="POST" action="{% url 'user:comment_added' %}">
                {% csrf_token %}
                <input type="text" id="username" placeholder="{{ user.username }}" name="username" value="{{ request.session.user }}" disabled >
                <label for="title"></label><input type="text" id="title" placeholder="{{ item.price }}" name="title" value="{{ request.session.title }}" disabled>
                <label for="user_id">Enter Your User Id</label><input type="text" id="user_id" name="user_id">
                  <label for="item_id">Enter Product Id</label><input type="text"   name="item_id" >
                <textarea name="comment" id="comment" cols="36" rows="10" placeholder="Review" style="font-family:'Poppins', sans-serif; margin-top: 2rem;"></textarea>
                <button type="submit" class="btn comment">Add Comment</button>
            </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!----------offer--------------->


<!----------Footer--------------->

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col1">
               <h3>Download Our App</h3>
                <p>Download App for Android and ios mobile phone.</p>
                <div class="app-logo">
                    <img src="{% static "img/play-store.png" %}">
                    <img src="{% static "img/app-store.png"%}">
                </div>
            </div>
            <div class="footer-col2">
               <img src="{% static "img/logo-white.png" %}" >
                <p>Our Purpose Is To Sustainably Make the Pleasure and Benefits of Sports Accessible to the Many.</p>
            </div>
            <div class="footer-col3">
               <h3>Useful Links</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blog Post</li>
                    <li>Return Policy</li>
                    <li>Join Affiliate</li>
                </ul>
            </div>
            <div class="footer-col4">
               <h3>Follow Us</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter<li>
                    <li>Instagram</li>
                    <li>YouTube</li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
</div>

<div class="social-panel-container">
	<div class="social-panel">
		<p>Created with <i class="fa fa-heart"></i> by
			<a target="_blank" href="#">VTEssentials</a></p>
		<button class="close-btn"><i class="fa fa-times"></i></button>
		<h4>Get in touch on</h4>
		<ul>
			<li>
					<i class="fa fa-twitter"></i>
			</li>
			<li>
					<i class="fa fa-linkedin"></i>
			</li>
			<li>
					<i class="fa fa-facebook"></i>
			</li>
			<li>
					<i class="fa fa-instagram"></i>
			</li>
		</ul>
	</div>
</div>
<button class="floating-btn">
	Get in Touch
</button>



<!-------------js for toggle menu-------------->
   {% load static %}
<script src="{% static 'js/app.js' %}"></script>
<script>

    var MenuItems = document.getElementById("MenuItems");

    MenuItems.style.maxHeight = "0px";

    function menutoggle()
    {
        if(MenuItems.style.maxHeight == "0px")
            {
                MenuItems.style.maxHeight = "300px";
            }else
            {
                MenuItems.style.maxHeight = "0px"
            }
    }
</script>
<script>
    $(document).ready(function(){
$('div.col-2 button.cartbtn').click(function(){
    varnumber
    $(counter).html(number);
    var counter= document.getElementById('counter');

    var number=parseInt($(counter).text());
    number++;

    $(counter).html(number);
})
})

</script>
</body>
</html>

